<div class="h-full w-full flex flex-col gap-6">



  <app-info-display [name]="'Imię Nazwisko'" [data]="`${employee().full_name}`" [iconName]="'user-circle'" [iconSize]="'outline'"></app-info-display>


  <mat-divider class="!border-warm-gray-400"></mat-divider>

    <div class="grid grid-cols-2 gap-3">

      <app-info-display [name]="'Numer ewidencyjny'" [data]="employee().identification_number || 'Brak'" [iconName]="'identification'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Etat'" [data]="employee().job || 'Brak'" [iconName]="'briefcase'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Email'" [data]="employee().email || 'Brak'" [iconName]="'envelope'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Numer telefonu'" [data]="employee().phone || 'Brak'" [iconName]="'phone'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Rodzaj umowy'" [data]="employee().agreement_type || 'Brak'" [iconName]="'document'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Czas trwania umowy'" [data]="`${employee().contract_date_start} - ${employee().contract_date_end}`" [iconName]="'clock'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Stawka etatowa'" [data]="employee().job_rate || 'Brak'" [iconName]="'banknotes'" [iconSize]="'outline'"></app-info-display>

      <app-info-display [name]="'Stawka godzinowa'" [data]="employee().hour_rate || 'Brak'" [iconName]="'banknotes'" [iconSize]="'outline'"></app-info-display>

    </div>

  <mat-accordion>
    <mat-expansion-panel class="!shadow-none border border-warm-gray-400">
      <mat-expansion-panel-header class="bg-warm-gray-100">
        <mat-panel-title> Godziny urlopowe </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex flex-col gap-3 py-3">
        <div class="w-full flex flex-row justify-between items-center">
          <p class="text-base font-bold">Bieżący urlop pracownika</p>
          <div class="bg-amber-300 h-12 px-5 rounded-2xl font-bold text-base flex items-center"> 20 dni / 160 h</div>
        </div>
        <mat-divider class="!border-warm-gray-400"></mat-divider>

        <table mat-table [dataSource]="vacationTableData()" class="mat-elevation-z8 custom-table-styles">

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let vacationRow"> {{vacationRow.type}} </td>
          </ng-container>

          <ng-container matColumnDef="remaining">
            <th mat-header-cell *matHeaderCellDef> Zaległy urlop </th>
            <td mat-cell *matCellDef="let vacationRow"> {{vacationRow.remaining}} </td>
          </ng-container>

          <ng-container matColumnDef="used">
            <th mat-header-cell *matHeaderCellDef> Wykorzystano </th>
            <td mat-cell *matCellDef="let vacationRow"> {{vacationRow.used}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Pozostało </th>
            <td mat-cell *matCellDef="let vacationRow"> {{vacationRow.current - vacationRow.used}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-divider class="!border-warm-gray-400"></mat-divider>

        <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Złóż wniosek</span></button>



      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion>
    <mat-expansion-panel class="!shadow-none border border-warm-gray-400">
      <mat-expansion-panel-header class="bg-warm-gray-100">
        <mat-panel-title> Niepełnosprawności </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel class="!shadow-none border border-warm-gray-400">
      <mat-expansion-panel-header class="bg-warm-gray-100">
        <mat-panel-title> Przypisane obiekty </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider class="!border-warm-gray-400"></mat-divider>

  <div class="w-full flex flex-row justify-start gap-2">
    <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Pobierz deklarację PPK</span></button>
    <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Pobierz rezygnację PPK</span></button>

  </div>

  <div class="w-full flex flex-row justify-start gap-2">
    <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Pobierz PUK</span></button>
    <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Wgraj PUK</span></button>

  </div>

</div>


