<header class="font-geist bg-warm-gray-200 fixed top-0 left-0 right-0 h-12 flex item-center">
  <div class="w-full mx-8 flex flex-row justify-between items-center">
    <div #logo class="w-52">
      <h1 class="text-xl font-bold text-true-gray-600 text-center">Planner</h1>
    </div>
    <nav #navigation class="w-full flex justify-start">
<!--      <a routerLink="/dashboard" routerLinkActive="font-bold" class="text-true-gray-600 px-2">User dashboard</a>-->
      <a routerLink="/schedule" routerLinkActive="font-bold" class="text-true-gray-600 text-sm px-2">Grafik</a>
      <a routerLink="/employees" routerLinkActive="font-bold" class="text-true-gray-600 text-sm px-2">Pracownicy</a>
    </nav>
    @if (currentUser) {
      <div #userOptions class="flex justify-around items-center">
        <span class="text-true-gray-600 px-2">{{ currentUser.username }}</span>
        <button mat-flat-button class="px-2" (click)="logout()">Wyloguj</button>
      </div>
    }
  </div>
</header>
