<div class="h-full w-full overflow-y-auto">
  <form class="w-2/5 p-10 mx-auto bg-white rounded-xl font-geist" [formGroup]="addEmployeeForm">

    <mat-divider class="bg-warm-gray-400"></mat-divider>
    <p class="font-bold text-base py-2">Dane osobowe</p>

    <div class="grid grid-cols-3 gap-2">

      <div class="col-span-3 flex flex-col">
        <label>Pełne imię i nazwisko</label>
        <mat-form-field>
          <input matInput formControlName="full_name">
          <mat-error>Pole obowiązkowe</mat-error>
        </mat-form-field>
      </div>


      <div class="col-span-1 flex flex-col">
        <label>Telefon</label>
        <mat-form-field>
          <input matInput formControlName="phone">
          <mat-error>Pole obowiązkowe</mat-error>
        </mat-form-field>
      </div>


      <div class="col-span-1 flex flex-col">
        <label>Email</label>
        <mat-form-field>
          <input matInput formControlName="email">
          <mat-error>Pole obowiązkowe</mat-error>
        </mat-form-field>
      </div>

      <div class="col-span-1 flex flex-col">
        <label>Data urodzenia</label>
        <mat-form-field>
          <input matInput [matDatepicker]="datepicker" formControlName="birth_date"/>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <mat-divider class="bg-warm-gray-400"></mat-divider>
    <p class="font-bold text-base py-2">Wykształcenie</p>

    <!--  <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Dodaj szkołę</span></button>-->

    <div class="flex flex-col">
      <div class="flex flex-col">
        <label>Typ szkoły</label>
        <mat-form-field>
          <mat-select formControlName="school_type" placeholder="Wybierz typ szkoły">
            <mat-option value="basic_vocational">Zasadnicza lub inna równorzędna szkoła zawodowa</mat-option>
            <mat-option value="secondary_vocational">Średnia szkoła zawodowa</mat-option>
            <mat-option value="secondary_vocational_graduates">Średnia szkoła zawodowa dla absolwentów zasadniczych i równorzędnych szkół zawodowych</mat-option>
            <mat-option value="secondary_general">Średnia szkoła ogólnokształcąca</mat-option>
            <mat-option value="post_secondary">Szkoła policealna</mat-option>
            <mat-option value="higher_education">Szkoła wyższa</mat-option>
          </mat-select>
          <mat-error>Pole obowiązkowe</mat-error>
        </mat-form-field>
      </div>


      <div class="flex flex-col">
        <label>Nazwa szkoły</label>
        <mat-form-field>
          <input matInput formControlName="school_name">
          <mat-error>Pole obowiązkowe</mat-error>
        </mat-form-field>
      </div>


      <div class="flex flex-col">
        <label>Rok ukończenia</label>
        <mat-form-field>
          <input matInput [matDatepicker]="graduationPicker" formControlName="graduation_year"/>
          <mat-datepicker-toggle matIconSuffix [for]="graduationPicker"></mat-datepicker-toggle>
          <mat-datepicker #graduationPicker></mat-datepicker>  <!-- ZAMKNIJ TAGIEM -->
        </mat-form-field>
      </div>


    </div>

    <mat-divider class="bg-warm-gray-400"></mat-divider>
    <p class="font-bold text-base py-2">Przebieg dotychczasowego zatrudnienia</p>

    <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400" (click)="addEmployer()"><span class="font-geist text-base text-warm-gray-400">Dodaj okres zatrudnienia</span></button>

    <div formArrayName="previous_employers">
      @for (employer of previousEmployers.controls; track $index) {
        <div [formGroupName]="$index">

          <div class="grid grid-cols-2 gap-2">
            <div class="flex flex-col">
              <label>Pracodawca / Nazwa firmy</label>
              <mat-form-field>
                <input matInput formControlName="employer_name">
                <mat-error>Pole obowiązkowe</mat-error>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Stanowisko</label>
              <mat-form-field>
                <input matInput formControlName="employee_position">
                <mat-error>Pole obowiązkowe</mat-error>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Data rozpoczęcia pracy</label>
              <mat-form-field>
                <input matInput [matDatepicker]="startPicker" formControlName="work_date_start">
                <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Data zakończenia pracy</label>
              <mat-form-field>
                <input matInput [matDatepicker]="endPicker" formControlName="work_date_end">
                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      }
    </div>


    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Anuluj</button>
      <button mat-button (click)="onAddEmployee()">Dodaj</button>
    </mat-dialog-actions>


  </form>
</div>




