<h2 mat-dialog-title>Dodaj nowego pracownika</h2>
<mat-dialog-content>
  info
</mat-dialog-content>

<form class="p-10" [formGroup]="addEmployeeForm">

  <div class="flex flex-col">
    <mat-form-field class="example-full-width" formControlName="firstName">
      <mat-label>Imię</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" formControlName="lastName">
      <mat-label>Nazwisko</mat-label>
      <input matInput>
    </mat-form-field>
  </div>


</form>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button (click)="onAddEmployee()">Dodaj</button>
</mat-dialog-actions>

