.mat-datepicker-content .mat-calendar {

}


.mdc-text-field{
  background-color: transparent !important;
  border: 1px solid #57534e !important;
  border-radius: 10px !important;
  //width: 125px !important;
  height: 44px !important;
}

