<header class="font-geist fixed top-0 left-0 right-0 h-16 flex item-center m-p z-50 bg-white">
  <div class="w-full flex flex-row justify-between items-center mx-2">
    <div #logo class="sm:w-52">
      <h1 class="text-xl font-bold text-primary-600 text-center">Planner</h1>
    </div>
    <nav #navigation class="flex flex-row justify-between items-center">
      @if(isLoginPage()){
        <a routerLink="/" class="block">
          <app-button
            variant="outline"
            text="Strona główna"
            iconName="home"
            iconSize="outline"
            iconPosition="before">
          </app-button>
        </a>
      } @else {
        <a routerLink="/login" class="block">
          <app-button
            variant="outline"
            text="Zaloguj się">
          </app-button>
        </a>
      }
    </nav>
  </div>
</header>
