<div class="flex flex-col">
  <label class="text-sm">{{ label() }}</label>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="datePicker"
      [value]="value()"
      [attr.disabled]="disabled()"
      [placeholder]="placeholder()"
      (dateChange)="handleDateChange($event)"
      (blur)="handleBlur()">

    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>

    @if(showError()) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>
</div>
