table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mdc-text-field{
  background-color: transparent !important;
  border: 1px solid #57534e !important;
  border-radius: 10px !important;
  //width: 200px !important;
  //height: 44px !important;
}


.mdc-text-field--filled{
  background-color: transparent !important;
  border: 1px solid #991B1B !important;
}

//Tabela

.mdc-line-ripple {
  display: none !important;
}

mat-sidenav {
  border-left: 1px solid #A8A29E !important; // warm-gray-400 jak w reszcie aplikacji
  border-radius: 0 !important;
}

.mat-drawer-container {
  background-color: transparent !important;
}

.mat-mdc-form-field-infix{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 44px !important;
  display: flex !important;
  align-items:  center !important;
  justify-content:  center !important;
}

