<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addLocationForm">

    <mat-form-field  appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input type="text" matInput formControlName="name">
      @if (shouldShowError('name')) {
        <mat-error>Email jest <strong>wymagany</strong></mat-error>
      }
    </mat-form-field>


    <mat-form-field  appearance="fill">
      <mat-label>Adres</mat-label>
      <input type="text" matInput formControlName="address">
      @if (shouldShowError('address')) {
        <mat-error>Email jest <strong>wymagany</strong></mat-error>
      }
    </mat-form-field>

    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <button matButton="filled" (click)="onAddLocation()" class="whitespace-nowrap">Wyślij</button>
      <button matButton="outlined" (click)="onCancel()" class="whitespace-nowrap">Anuluj</button>
    </div>


  </form>
</div>





