<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addLocationForm">

    <app-input
      [label]="'Nazwa'"
      [placeholder]="''"
      [showError]="shouldShowError('name')"
      [errorMessage]="getErrorMessage('name')"
      formControlName="name">
    </app-input>

    <app-input
      [label]="'Adres'"
      [placeholder]="''"
      [showError]="shouldShowError('address')"
      [errorMessage]="getErrorMessage('address')"
      formControlName="address">
    </app-input>


    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <button matButton="filled" (click)="onAddLocation()" class="whitespace-nowrap">Wyślij</button>
      <button matButton="outlined" (click)="onCancel()" class="whitespace-nowrap">Anuluj</button>
    </div>


  </form>
</div>





