<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addLocationForm">


    <div class="flex flex-col">
      <label>Nazwa</label>
      <mat-form-field>
        <input matInput formControlName="name">
        <mat-error>Pole obowiązkowe</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col">
      <label>Adres</label>
      <mat-form-field>
        <input matInput formControlName="address">
        <mat-error>Pole obowiązkowe</mat-error>
      </mat-form-field>
    </div>


    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <button matButton="filled" class="px-2 !rounded-md !bg-warm-gray-400"><span class="font-geist text-base text-white" (click)="onAddLocation()">Dodaj</span></button>
      <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Anuluj</span></button>
    </div>


  </form>
</div>





