@use '@angular/material' as mat;
@use '../config' as config;

@mixin button-overrides {
  @include mat.button-overrides((
    // KSZTAŁTY
    filled-container-shape: config.$button-border-radius,
    outlined-container-shape: config.$button-border-radius,
    text-container-shape: config.$button-border-radius,

    // PADDING
    filled-horizontal-padding: config.$button-padding-horizontal,
    outlined-horizontal-padding: config.$button-padding-horizontal,

    // TYPOGRAPHY
    filled-label-text-weight: config.$button-font-weight,
    outlined-label-text-weight: config.$button-font-weight,
    text-label-text-weight: config.$button-font-weight,
  ));
}
