@if(selectedCell){
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Edytuj grafik</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <div class="flex flex-row gap-2">
          <mat-form-field>
            <mat-label>Od</mat-label>
            <input matInput
                   [matTimepicker]="fromTimePicker"
                   (valueChange)="onTimeFromChange($event)"
                   [value]="timeFrom()"
            >
            <mat-timepicker-toggle matIconSuffix [for]="fromTimePicker"/>
            <mat-timepicker interval="15min" #fromTimePicker/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Do</mat-label>
            <input matInput
                   [matTimepicker]="toTimePicker"
                   (valueChange)="onTimeToChange($event)"
                   [disabled]="!timeFrom()"
            >
            <mat-timepicker-toggle matIconSuffix [for]="toTimePicker" [disabled]="!timeFrom()"/>
            <mat-timepicker interval="15min" #toTimePicker/>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button matButton
              (click)="onEditPanelSave()"
      >Zapisz</button>

      <button matButton
              (click)="onEditPanelCancel()"
      >Anuluj</button>
    </mat-card-actions>
  </mat-card>
} @else {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Wybierz pole grafiku do edycji</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
}


