.save-button.mat-mdc-unelevated-button{
  border-radius: 8px !important;
  padding: 0 20px 0 20px !important;

  //background-color: aquamarine !important;

}

.cancel-button.mat-mdc-outlined-button{
  border-radius: 8px !important;
  padding: 0 20px 0 20px !important;

}

