@if(selectedCell){
  <mat-card appearance="outlined" class="h-52">
    <mat-card-header>
      <div class="w-full border-b-2">
        <mat-card-title>Edytuj grafik</mat-card-title>
        <mat-card-subtitle>Herding group</mat-card-subtitle>

        <div class="flex flex-col">
          <div class="flex flex-row">

          </div>
          <span>Imie nazwisko</span>
        </div>

      </div>
    </mat-card-header>

    <!--Odstęp-->
    <div class="w-full h-5"></div>

    <mat-card-content>
      <div>
        <div class="flex flex-row gap-2">
          <mat-form-field>
            <mat-label>Od</mat-label>
            <input matInput
                   [matTimepicker]="fromTimePicker"
                   (valueChange)="onTimeFromChange($event)"
                   [value]="timeFrom()"
            >
            <mat-timepicker-toggle matIconSuffix [for]="fromTimePicker"/>
            <mat-timepicker interval="15min" #fromTimePicker/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Do</mat-label>
            <input matInput
                   [matTimepicker]="toTimePicker"
                   (valueChange)="onTimeToChange($event)"
                   [disabled]="!timeFrom()"
            >
            <mat-timepicker-toggle matIconSuffix [for]="toTimePicker" [disabled]="!timeFrom()"/>
            <mat-timepicker interval="15min" #toTimePicker/>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <!--Odstęp-->
    <div class="w-full h-5"></div>

    <mat-card-actions>
      <div class="w-full flex flex-row justify-end gap-2">
        <button mat-flat-button class="save-button px-2" (click)="onEditPanelSave()">Zapisz</button>
        <button matButton="outlined" class="cancel-button px-2"  (click)="onEditPanelCancel()">Anuluj</button>
      </div>

    </mat-card-actions>

  </mat-card>
} @else {
  <mat-card appearance="outlined" class="h-52">
    <mat-card-header>
      <mat-card-title>Wybierz pole grafiku do edycji</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
}


