<!--<div class="w-full h-full flex flex-row gap-2">-->
<!-- <div class="w-1/3 h-full py-4">-->
<!--   @if(employees.length > 0){-->
<!--     <app-employee-list-->
<!--       [employees]="employees"-->
<!--       (employeeAdded)="onEmployeeAdded($event)"-->
<!--       (employeeDeleted)="onEmployeeDeleted($event)"-->
<!--       (employeeSelected)="onEmployeeSelected($event)"-->
<!--     ></app-employee-list>-->
<!--   }-->

<!-- </div>-->

<!--  <div class="w-2/3 h-full py-4">-->
<!--&lt;!&ndash;    <app-employee-info&ndash;&gt;-->
<!--&lt;!&ndash;      [employee]="employee"&ndash;&gt;-->
<!--&lt;!&ndash;    ></app-employee-info>&ndash;&gt;-->

<!--    <ng-container [ngComponentOutlet]="currentComponent()" [ngComponentOutletInputs]="componentInputs()"></ng-container>-->
<!--  </div>-->
<!--</div>-->

<div class="w-full h-full">

  <mat-sidenav-container class="h-full">

    <!-- Sidenav ze szczegółami pracownika -->
    <mat-sidenav
      mode="side"
      position="end"
      [opened]="isSidenavOpen()"
      class="!w-1/3 overflow-y-auto !bg-primary-100">

      @if (selectedEmployee()) {
        <div class="p-4 flex flex-col gap-2">

          <app-button
            (click)="closeSidenav()"
            variant="outline"
            iconName="x-mark"
            iconSize="outline">
          </app-button>


          <!-- Tutaj użyjemy istniejący komponent employee-info -->
          <app-employee-info [employee]="selectedEmployee()!"></app-employee-info>
        </div>
      }
    </mat-sidenav>

    <!-- Główna zawartość z tabelą -->
    <mat-sidenav-content class="p-4">

      <!-- Pole filtrowania -->
      <div class="flex flex-row gap-4 h-16 !border-primary-800">
        <mat-form-field class="w-full h-full !border-primary-800">
          <input matInput class="h-11 !text-primary-800 !border-primary-800" (keyup)="applyFilter($event)" placeholder="Wyszukaj pracownika" #input>
        </mat-form-field>
        <button mat-stroked-button class="px-2 !rounded-xl !border-primary-800 gap-2 whitespace-nowrap w-60 !h-11" (click)="openAddEmployeeDialog()">
          <div class="flex flex-row justify-start items-center h-full w-full gap-2">
            <app-icon iconName="plus" iconSize="outline" class="text-primary-800"></app-icon>
            <span class="font-geist text-base text-primary-800">Dodaj pracownika</span>
          </div>
        </button>

      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput
                 placeholder="Ex. pat@example.com">
<!--          <mat-hint>Errors appear instantly!</mat-hint>-->
          @if (1) {
<!--            <mat-error>Please enter a valid email address</mat-error>-->
          }
          @if (0) {
<!--            <mat-error>Email is <strong>required</strong></mat-error>-->
          }
        </mat-form-field>
      </div>

      <!-- Tabela -->
      <div class="mat-elevation-z8 border-2 border-primary-800 overflow-hidden rounded-xl">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Kolumna Nazwa Numer ewidencyjny -->
          <ng-container matColumnDef="identification_number">
            <th mat-header-cell *matHeaderCellDef class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800"> Numer ewidencyjny </th>
            <td mat-cell *matCellDef="let employee" class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800">
              {{employee.identification_number || 'Brak'}}
            </td>
          </ng-container>

          <!-- Kolumna Nazwa (Imię + Nazwisko) -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800"> Imię Nazwisko </th>
            <td mat-cell *matCellDef="let employee" class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800">
              {{employee.full_name}}
            </td>
          </ng-container>

          <!-- Kolumna Email -->
          <ng-container matColumnDef="job">
            <th mat-header-cell *matHeaderCellDef class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800"> Etat </th>
            <td mat-cell *matCellDef="let employee" class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800">
              {{employee.job || 'Brak'}}
            </td>
          </ng-container>

          <!-- Kolumna Rodzaj umowy -->
          <ng-container matColumnDef="agreement_type">
            <th mat-header-cell *matHeaderCellDef class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800"> Rodzaj umowy </th>
            <td mat-cell *matCellDef="let employee" class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800">
              {{getAgreementTypeLabel(employee.agreement_type)}}
            </td>
          </ng-container>

          <!-- Kolumna Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800 !text-right"> Akcje </th>
            <td mat-cell *matCellDef="let employee" class="!bg-primary-100 !border-b !border-primary-800 !text-primary-800 !text-right">
              <button mat-icon-button class="delete-button" (click)="onEditEmployee(employee, $event)">
                <app-icon iconName="pencil-square" iconSize="outline" class="text-primary-800"></app-icon>
              </button>

              <button mat-icon-button class="delete-button" (click)="onDeleteEmployee(employee, $event)">
                <app-icon iconName="trash" iconSize="outline" class="text-primary-800"></app-icon>
              </button>
            </td>
          </ng-container>

          <!-- Wiersze z obsługą kliknięcia -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!bg-primary-100 !h-11"></tr>
          <tr mat-row
              *matRowDef="let employee; columns: displayedColumns;"
              (click)="onRowClick(employee)"
              class="cursor-pointer !bg-primary-100 !h-11">
          </tr>

          <!-- Wiersz gdy brak danych -->
          <tr class="mat-row !bg-primary-100 !h-11" *matNoDataRow>
            <td class="mat-cell !bg-primary-100" [attr.colspan]="displayedColumns.length">
              Brak danych "{{input.value}}"
            </td>
          </tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
          class="!bg-primary-100"
          [pageSizeOptions]="[5, 10, 25, 50]"
          [pageSize]="10"
          aria-label="Wybierz stronę pracowników">
        </mat-paginator>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>



</div>
