table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mdc-text-field{
  background-color: transparent !important;
  border: 1px solid #57534e !important;
  border-radius: 10px !important;
  //width: 200px !important;
  //height: 44px !important;
}


.mdc-text-field--filled{
  background-color: transparent !important;
  border: 1px solid #991B1B !important;

}

//Tabela

.mdc-line-ripple {
  display: none !important;
}

mat-sidenav {
  border-left: 2px solid #991B1B !important; // warm-gray-400 jak w reszcie aplikacji
  border-radius: 16px !important;
}


.mat-bottom-sheet-container {
  //width: 100vw !important;
  //max-width: 100vw !important;
  height: 90vw !important;
  max-height: 90vh !important;
  padding: 30px !important;
}

.mat-drawer-container {
  background-color: transparent !important;
}

.mat-mdc-form-field-infix{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 44px !important;
  display: flex !important;
  align-items:  center !important;
  justify-content:  center !important;
}

.mat-bottom-sheet-container-xlarge, .mat-bottom-sheet-container-large, .mat-bottom-sheet-container-medium {
  min-width: 100vw !important;
}
