<!--<div class="w-full h-full flex flex-row gap-2">-->
<!-- <div class="w-1/3 h-full py-4">-->
<!--   @if(employees.length > 0){-->
<!--     <app-employee-list-->
<!--       [employees]="employees"-->
<!--       (employeeAdded)="onEmployeeAdded($event)"-->
<!--       (employeeDeleted)="onEmployeeDeleted($event)"-->
<!--       (employeeSelected)="onEmployeeSelected($event)"-->
<!--     ></app-employee-list>-->
<!--   }-->

<!-- </div>-->

<!--  <div class="w-2/3 h-full py-4">-->
<!--&lt;!&ndash;    <app-employee-info&ndash;&gt;-->
<!--&lt;!&ndash;      [employee]="employee"&ndash;&gt;-->
<!--&lt;!&ndash;    ></app-employee-info>&ndash;&gt;-->

<!--    <ng-container [ngComponentOutlet]="currentComponent()" [ngComponentOutletInputs]="componentInputs()"></ng-container>-->
<!--  </div>-->
<!--</div>-->

<div class="w-full h-full">

  <mat-sidenav-container class="h-full">

    <!-- Główna zawartość z tabelą -->
    <mat-sidenav-content class="p-4">

      <!-- Pole filtrowania -->
      <mat-form-field class="w-full mb-4">
        <mat-label>Szukaj pracowników</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz imię, nazwisko, email..." #input>
      </mat-form-field>

      <!-- Tabela -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Kolumna Nazwa Numer ewidencyjny -->
          <ng-container matColumnDef="identification_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer ewidencyjny </th>
            <td mat-cell *matCellDef="let employee">
              {{employee.identification_number || 'Brak'}}
            </td>
          </ng-container>

          <!-- Kolumna Nazwa (Imię + Nazwisko) -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię Nazwisko </th>
            <td mat-cell *matCellDef="let employee">
              {{employee.full_name}}
            </td>
          </ng-container>

          <!-- Kolumna Email -->
          <ng-container matColumnDef="job">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat </th>
            <td mat-cell *matCellDef="let employee">
              {{employee.job || 'Brak'}}
            </td>
          </ng-container>

          <!-- Kolumna Rodzaj umowy -->
          <ng-container matColumnDef="agreement_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rodzaj umowy </th>
            <td mat-cell *matCellDef="let employee">
              {{getAgreementTypeLabel(employee.agreement_type)}}
            </td>
          </ng-container>

          <!-- Kolumna Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Akcje </th>
            <td mat-cell *matCellDef="let employee">
              <button mat-icon-button class="delete-button" (click)="onDeleteEmployee(employee, $event)">
                <div class="flex justify-center items-center">
                  <app-icon iconName="trash" iconSize="outline"></app-icon>
                </div>
              </button>
            </td>
          </ng-container>

          <!-- Wiersze z obsługą kliknięcia -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              *matRowDef="let employee; columns: displayedColumns;"
              (click)="onRowClick(employee)"
              class="cursor-pointer hover:bg-gray-100">
          </tr>

          <!-- Wiersz gdy brak danych -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              Brak pracowników pasujących do filtra "{{input.value}}"
            </td>
          </tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 50]"
          [pageSize]="10"
          aria-label="Wybierz stronę pracowników">
        </mat-paginator>
      </div>

    </mat-sidenav-content>

    <!-- Sidenav ze szczegółami pracownika -->
    <mat-sidenav
      mode="side"
      position="end"
      [opened]="isSidenavOpen()"
      class="!w-1/3 overflow-y-auto">

      @if (selectedEmployee()) {
        <div class="p-4">

        <button mat-icon-button (click)="closeSidenav()">
          <mat-icon>close</mat-icon>
        </button>


          <!-- Tutaj użyjemy istniejący komponent employee-info -->
          <app-employee-info [employee]="selectedEmployee()!"></app-employee-info>
        </div>
      }

    </mat-sidenav>

  </mat-sidenav-container>

</div>
