@use '@angular/material' as mat;
@use './palettes' as palettes;
@use './overrides/button' as button;

// Theme dla Light Mode
html, body {
  @include mat.theme((
    color: palettes.$primary-palette,
    typography: Roboto,
    density: 0,
  ));

  @include button.button-overrides();
}

// Theme dla Dark Mode
body.dark {  // Zmiana z html[data-theme="dark"] na body.dark
  color-scheme: dark;

  @include mat.theme((
    color: palettes.$primary-palette,
    typography: Roboto,
    density: 0,
  ));

  @include button.button-overrides();
}
