app-button {
  // Reset tylko najbardziej problematyczne Material Design defaults
  .mdc-button {
    min-width: unset !important;
  }

  .mat-mdc-button{
    padding: 0 12px 0 12px !important;
  }

  .mat-mdc-outlined-button{
    padding: 0 12px 0 12px !important;
  }
}
