.mdc-text-field{
  background-color: transparent !important;
  border: 1px solid #991B1B !important;
  border-radius: 10px !important;
  //width: 125px !important;
  height: 44px !important;
}

.mat-mdc-form-field-infix{
  //wysokosc musi byc taka sama co wyzej
  //pamietaj ze w srodku masz pole ktore ma 24px - jezeli chce obliczyc ponizej paddingi do wysokosci nowej zalozonej odejmuje 24 i dziele na 2
  height: 44px !important;
  min-height: 44px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mdc-line-ripple {
  display: none !important;
}
