<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addEmployeeForm">

    <div class="grid grid-cols-2 sm:grid-cols-6 gap-x-6 gap-y-2">
      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Dane osobowe'" [iconName]="'user-circle'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">

          <mat-form-field  appearance="fill">
            <mat-label>Pełne imię i nazwisko</mat-label>
            <input type="text" matInput formControlName="full_name">
            @if (shouldShowError('full_name')) {
              <mat-error>Imię i nazwisko jest <strong>wymagane</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data urodzenia</mat-label>
            <input matInput [matDatepicker]="birth_date_picker" formControlName="birth_date">
            <mat-datepicker-toggle matIconSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
            <mat-datepicker #birth_date_picker></mat-datepicker>
            @if (shouldShowError('birth_date')) {
              <mat-error>Data urodzenia jest wymagana</mat-error>
            }
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Telefon</mat-label>
            <input type="number" matInput formControlName="phone">
            @if (shouldShowError('phone')) {
              <mat-error>Telefon jest <strong>wymagany</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
            @if (shouldShowError('email')) {
              <mat-error>Email jest <strong>wymagany</strong></mat-error>
            }
          </mat-form-field>

        </div>

      </div>


      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Dane dotyczące zatrudnienia'" [iconName]="'document-text'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <mat-form-field>
            <mat-label>Rodzaj umowy</mat-label>
            <mat-select formControlName="agreement_type">
              @for (option of contractTypeOptions; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Stawka godzinowa</mat-label>
            <input type="number" matInput formControlName="hour_rate">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Początek okresu umowy</mat-label>
            <input matInput [matDatepicker]="contract_date_start_picker" formControlName="contract_date_start">
            <mat-datepicker-toggle matIconSuffix [for]="contract_date_start_picker"></mat-datepicker-toggle>
            <mat-datepicker #contract_date_start_picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Koniec okresu umowy</mat-label>
            <input matInput [matDatepicker]="contract_date_end_picker" formControlName="contract_date_end">
            <mat-datepicker-toggle matIconSuffix [for]="contract_date_end_picker"></mat-datepicker-toggle>
            <mat-datepicker #contract_date_end_picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Informacje dodatkowe'" [iconName]="'academic-cap'" [iconSize]="'outline'"></app-title-display>
        <div class="grid grid-cols-2 gap-2">
          <mat-form-field  appearance="fill" class="col-span-2">
            <mat-label>Niepełnosprawności</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field  appearance="fill" class="col-span-2">
            <mat-label>KP-188</mat-label>
            <input type="text" matInput>
          </mat-form-field>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Wykształcenie'" [iconName]="'academic-cap'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
          <mat-form-field>
            <mat-label>Typ szkoły</mat-label>
            <mat-select formControlName="school_type">
              @for (option of schoolTypeOptions; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Nazwa szkoły</mat-label>
            <input type="text" matInput formControlName="school_name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Rok ukończenia</mat-label>
            <input matInput [matDatepicker]="graduation_year_picker" formControlName="graduation_year">
            <mat-datepicker-toggle matIconSuffix [for]="graduation_year_picker"></mat-datepicker-toggle>
            <mat-datepicker #graduation_year_picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <div class="grid grid-cols-2 gap-2">
          @if(agreementType() == 'permanent'){
            <mat-form-field  appearance="fill">
              <mat-label>Etat</mat-label>
              <input type="text" matInput formControlName="job">
            </mat-form-field>

            <mat-form-field  appearance="fill">
              <mat-label>Stawka etatowa</mat-label>
              <input type="text" matInput formControlName="job_rate">
            </mat-form-field>

          }
          <div class="col-span-2 flex flex-col">
            <label>Przypisz pracownika do obiektu</label>
            <div class="w-full bg--50 border border-primary-400 rounded-lg p-4">
              @for(location of locations(); track location.id){
                <div class="flex flex-row items-center">
                  <mat-checkbox
                    [value]="location.id"
                    [checked]="isLocationSelected(location.id)"
                    (change)="onLocationChange(location.id, $event)">
                    {{ location.name }}
                  </mat-checkbox>
                </div>
              }
              @if (shouldShowLocationError()) {
                <div class="text-red-600 text-sm mt-2">
                  Musisz wybrać przynajmniej jedną lokalizację
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>


    <app-title-display [name]="'Przebieg dotychczasowego zatrudnienia'" [iconName]="'briefcase'" [iconSize]="'outline'"></app-title-display>

    <div class="py-4">
      <button matButton="outlined" (click)="addEmployer()">Dodaj pracodawcę</button>
    </div>

    @if (previousEmployers.length > 0) {
      <div formArrayName="previous_employers">
        <mat-vertical-stepper [linear]="false" #employerStepper>
          @for (employer of previousEmployers.controls; track $index) {
            <mat-step [stepControl]="$any(employer)">
              <div [formGroup]="$any(employer)">
                <ng-template matStepLabel>Pracodawca {{ $index + 1 }}</ng-template>

                <div class="flex flex-row justify-start items-center mb-4">
                  <p class="font-bold text-base">Dane pracodawcy {{ $index + 1 }}</p>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <mat-form-field  appearance="fill">
                    <mat-label>Nazwa firmy</mat-label>
                    <input type="text" matInput formControlName="employer_name">
                  </mat-form-field>

                  <mat-form-field  appearance="fill">
                    <mat-label>Stanowisko</mat-label>
                    <input type="text" matInput formControlName="employee_position">
                  </mat-form-field>

                  <mat-form-field  appearance="fill">
                    <mat-label>Data rozpoczęcia pracy</mat-label>
                    <input type="text" matInput formControlName="work_date_start">
                  </mat-form-field>

                  <mat-form-field  appearance="fill">
                    <mat-label>Data zakończenia pracy</mat-label>
                    <input type="text" matInput formControlName="work_date_end">
                  </mat-form-field>

                </div>

                <div class="flex justify-end items-center mt-4">
                  <app-button
                    variant="outline"
                    text="Usuń pracodawcę"
                    iconName="trash"
                    iconSize="mini"
                    iconPosition="before"
                    (click)="removeEmployer($index)">
                  </app-button>

                  <button mat-button matStepperPrevious type="button">Poprzedni</button>
                  <button mat-button (click)="handleNextStep($index)" type="button">Następny</button>
                </div>
              </div>
            </mat-step>
          }
        </mat-vertical-stepper>
      </div>
    }



    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <button matButton="filled" (click)="onAddEmployee()" [disabled]="!hasSelectedLocations()">Wyślij</button>
      <app-button
        variant="outline"
        text="Anuluj"
        type="button"
        (click)="onCancel()">
      </app-button>
    </div>


  </form>
</div>




