<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addEmployeeForm">

    <div class="grid grid-cols-6 gap-x-6 gap-y-2">
      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Dane osobowe'" [iconName]="'user-circle'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-2 gap-2">

          <mat-form-field  appearance="fill">
            <mat-label>Pełne imię i nazwisko</mat-label>
            <input type="text" matInput formControlName="full_name">
            @if (addEmployeeForm.get('full_name')?.hasError('required')) {
              <mat-error>Imię i nazwisko jest <strong>wymagane</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data urodzenia</mat-label>
            <input matInput [matDatepicker]="birth_date_picker" formControlName="birth_date">
            <mat-datepicker-toggle matIconSuffix [for]="birth_date_picker"></mat-datepicker-toggle>
            <mat-datepicker #birth_date_picker></mat-datepicker>
            @if (addEmployeeForm.get('birth_date')?.hasError('required')) {
              <mat-error>Data urodzenia jest wymagana</mat-error>
            }
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Telefon</mat-label>
            <input type="number" matInput formControlName="phone">
            @if (addEmployeeForm.get('phone')?.hasError('required')) {
              <mat-error>Telefon jest <strong>wymagany</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Email</mat-label>
            <input type="number" matInput formControlName="email">
            @if (addEmployeeForm.get('email')?.hasError('required')) {
              <mat-error>Email jest <strong>wymagany</strong></mat-error>
            }
          </mat-form-field>

        </div>

      </div>


      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Dane dotyczące zatrudnienia'" [iconName]="'document-text'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-2 gap-2">
          <mat-form-field>
            <mat-label>Rodzaj umowy</mat-label>
            <mat-select>
              @for (option of contractTypeOptions; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label>Stawka godzinowa</mat-label>
            <input type="number" matInput formControlName="hour_rate">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Początek okresu umowy</mat-label>
            <input matInput [matDatepicker]="contract_date_start_picker" formControlName="contract_date_start">
            <mat-datepicker-toggle matIconSuffix [for]="contract_date_start_picker"></mat-datepicker-toggle>
            <mat-datepicker #contract_date_start_picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Koniec okresu umowy</mat-label>
            <input matInput [matDatepicker]="contract_date_end_picker" formControlName="contract_date_end">
            <mat-datepicker-toggle matIconSuffix [for]="contract_date_end_picker"></mat-datepicker-toggle>
            <mat-datepicker #contract_date_end_picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Informacje dodatkowe'" [iconName]="'academic-cap'" [iconSize]="'outline'"></app-title-display>
        <div class="grid grid-cols-2 gap-2">
          <mat-form-field  appearance="fill" class="col-span-2">
            <mat-label>Niepełnosprawności</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field  appearance="fill" class="col-span-2">
            <mat-label>KP-188</mat-label>
            <input type="text" matInput>
          </mat-form-field>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <app-title-display [name]="'Wykształcenie'" [iconName]="'academic-cap'" [iconSize]="'outline'"></app-title-display>

        <div class="grid grid-cols-2 gap-2">
          <app-select-input
            class="col-span-2"
            [label]="'Typ szkoły'"
            [placeholder]="'Wybierz typ szkoły'"
            [options]="schoolTypeOptions"
            [showError]="shouldShowError('school_type')"
            [errorMessage]="getErrorMessage('school_type')"
            formControlName="school_type">
          </app-select-input>

          <app-input
            class="col-span-1"
            [label]="'Nazwa szkoły'"
            [placeholder]="''"
            [showError]="shouldShowError('school_name')"
            [errorMessage]="getErrorMessage('school_name')"
            formControlName="school_name">
          </app-input>

          <app-date-input
            class="col-span-1"
            [label]="'Rok ukończenia'"
            [placeholder]="''"
            [showError]="shouldShowError('graduation_year')"
            [errorMessage]="getErrorMessage('graduation_year')"
            formControlName="graduation_year">
          </app-date-input>

        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <div class="grid grid-cols-2 gap-2">
          @if(agreementType() == 'permanent'){
            <app-input
              class="col-span-1"
              [label]="'Etat'"
              [placeholder]="''"
              [showError]="shouldShowError('job')"
              [errorMessage]="getErrorMessage('job')"
              formControlName="job">
            </app-input>

            <app-input
              class="col-span-1"
              [label]="'Stawka etatowa'"
              [placeholder]="''"
              [showError]="shouldShowError('job_rate')"
              [errorMessage]="getErrorMessage('job_rate')"
              formControlName="job_rate">
            </app-input>
          }
          <div class="col-span-2 flex flex-col">
            <label>Przypisz pracownika do obiektu</label>
            <div class="w-full bg--50 border border-primary-400 rounded-lg p-4">
              @for(location of locations(); track location.id){
                <div class="flex flex-row items-center">
                  <mat-checkbox
                    [value]="location.id"
                    (change)="onLocationChange(location.id, $event)">
                    {{ location.name }}
                  </mat-checkbox>
                </div>

              }
            </div>
          </div>
        </div>
      </div>
    </div>


    <app-title-display [name]="'Przebieg dotychczasowego zatrudnienia'" [iconName]="'briefcase'" [iconSize]="'outline'"></app-title-display>
    <div formArrayName="previous_employers">
      <mat-vertical-stepper [linear]="false" #employerStepper>
        @for (employer of previousEmployers.controls; track $index) {
          <mat-step [stepControl]="$any(employer)">
            <div [formGroup]="$any(employer)">
              <ng-template matStepLabel>Pracodawca {{ $index + 1 }}</ng-template>

              <div class="flex flex-row justify-start items-center mb-4">
<!--                <button mat-icon-button (click)="removeEmployer($index)" type="button">-->
<!--                  <app-icon iconName="trash" iconSize="outline" class="text-primary-400"></app-icon>-->
<!--                </button>-->
                <p class="font-bold text-base">Dane pracodawcy {{ $index + 1 }}</p>
              </div>

              <div class="grid grid-cols-2 gap-4">
                <app-input
                  class="col-span-1"
                  [label]="'Nazwa firmy'"
                  [placeholder]="''"
                  [showError]="shouldShowError('employer_name')"
                  [errorMessage]="getErrorMessage('employer_name')"
                  formControlName="employer_name">
                </app-input>

                <app-input
                  class="col-span-1"
                  [label]="'Stanowisko'"
                  [placeholder]="''"
                  [showError]="shouldShowError('employee_position')"
                  [errorMessage]="getErrorMessage('employee_position')"
                  formControlName="employee_position">
                </app-input>

                <app-date-input
                  [label]="'Data rozpoczęcia pracy'"
                  [placeholder]="''"
                  [showError]="shouldShowError('work_date_start')"
                  [errorMessage]="getErrorMessage('work_date_start')"
                  formControlName="work_date_start">
                </app-date-input>

                <app-date-input
                  [label]="'Data zakończenia pracy'"
                  [placeholder]="''"
                  [showError]="shouldShowError('work_date_end')"
                  [errorMessage]="getErrorMessage('work_date_end')"
                  formControlName="work_date_end">
                </app-date-input>
              </div>

              <div class="flex justify-end items-center mt-4">
                <app-button
                  variant="outline"
                  text="Usuń pracodawcę"
                  iconName="trash"
                  iconSize="mini"
                  iconPosition="before"
                  (click)="removeEmployer($index)">
                </app-button>

                <button mat-button matStepperPrevious type="button">Poprzedni</button>
                <button mat-button (click)="handleNextStep($index)" type="button">Następny</button>
              </div>
            </div>
          </mat-step>
        }
      </mat-vertical-stepper>
    </div>



    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <app-button
        variant="fill"
        text="Wyślij"
        type="button"
        (click)="onAddEmployee()">
      </app-button>
      <app-button
        variant="outline"
        text="Anuluj"
        type="button"
        (click)="onCancel()">
      </app-button>
    </div>


  </form>
</div>




