.mat-datepicker-content .mat-calendar {
//na przyszlosc gdybym chcial cos z tym zrobic
}


.mdc-text-field{
  background-color: transparent !important;
  border: 1px solid #57534e !important;
  border-radius: 10px !important;
  //width: 125px !important;
  height: 44px !important;
}

.mat-mdc-form-field-infix{
  //wysokosc musi byc taka sama co wyzej
  //pamietaj ze w srodku masz pole ktore ma 24px - jezeli chce obliczyc ponizej paddingi do wysokosci nowej zalozonej odejmuje 24 i dziele na 2
  height: 44px !important;
  min-height: 44px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mdc-line-ripple {
  display: none !important;
}

//.mat-calendar-table {
//  border-spacing: 0 !important;
//  border-collapse: separate !important;
//}

//.mat-calendar-table-header th {
//  text-align: center !important;
//  padding: 8px !important;
//}

//.mat-calendar-body-cell {
//  position: relative !important;
//  height: 40px !important;
//  width: 40px !important;
//  text-align: center !important;
  //outline: none !important;
  //cursor: pointer !important;
//}

//.mat-calendar-body-cell-content {
//  position: absolute !important;
//  top: 50% !important;
//  left: 50% !important;
//  transform: translate(-50%, -50%) !important;
//  display: flex !important;
//  align-items: center !important;
//  justify-content: center !important;
//}

.mat-calendar-body-cell {
  height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
}

.mat-calendar-body-cell-content {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  border-radius: 50% !important;
}

.mat-calendar-table {
  width: 280px !important;
}

.mat-calendar-body {
  min-width: 280px !important;
}

.mat-stepper-vertical{
  background: none !important;

}
