<div class="h-full w-full">
  <form class="rounded-xl font-geist" [formGroup]="addEmployeeForm">

    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-3 flex flex-col">
        <div class="flex flex-row items-center gap-2">
          <app-icon [iconName]="'user-circle'" iconSize="outline"></app-icon>
          <p class="font-bold text-base py-2">Dane osobowe</p>
        </div>
        <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>

        <div class="grid grid-cols-2 gap-2">

          <app-input
            [label]="'Pełne imię i nazwisko'"
            [placeholder]="'Wprowadź imię i nazwisko'"
            [showError]="shouldShowError('full_name')"
            [errorMessage]="getErrorMessage('full_name')"
            formControlName="full_name">
          </app-input>

          <div class="col-span-1 flex flex-col">
            <label>Data urodzenia</label>
            <mat-form-field>
              <input matInput [matDatepicker]="birthDatePicker" formControlName="birth_date"/>
              <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthDatePicker>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <app-input [label]="'Telefon'"
                     formControlName="phone"></app-input>


          <app-input [label]="'Email'"
                     formControlName="email"></app-input>

        </div>

      </div>
      <div class="col-span-1 flex flex-col">
        <div class="flex flex-row gap-2">
          <app-icon [iconName]="'academic-cap'" iconSize="outline"></app-icon>
          <p class="font-bold text-base py-2">Wykształcenie</p>
        </div>
        <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>

        <div class="flex flex-col">
          <div class="flex flex-col">
            <label>Typ szkoły</label>
            <mat-form-field>
              <mat-select formControlName="school_type" placeholder="Wybierz typ szkoły">
                <mat-option value="basic_vocational">Zasadnicza lub inna równorzędna szkoła zawodowa</mat-option>
                <mat-option value="secondary_vocational">Średnia szkoła zawodowa</mat-option>
                <mat-option value="secondary_vocational_graduates">Średnia szkoła zawodowa dla absolwentów zasadniczych i równorzędnych szkół zawodowych</mat-option>
                <mat-option value="secondary_general">Średnia szkoła ogólnokształcąca</mat-option>
                <mat-option value="post_secondary">Szkoła policealna</mat-option>
                <mat-option value="higher_education">Szkoła wyższa</mat-option>
              </mat-select>
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>

          <app-input [label]="'Nazwa szkoły'"
                     formControlName="school_name"></app-input>


          <div class="flex flex-col">
            <label>Rok ukończenia</label>
            <mat-form-field>
              <input matInput [matDatepicker]="graduationPicker" formControlName="graduation_year"/>
              <mat-datepicker-toggle matIconSuffix [for]="graduationPicker"></mat-datepicker-toggle>
              <mat-datepicker #graduationPicker></mat-datepicker>  <!-- ZAMKNIJ TAGIEM -->
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-span-2 flex flex-col">
        <div class="flex flex-row items-center gap-2">
          <app-icon [iconName]="'document-text'" iconSize="outline"></app-icon>
          <p class="font-bold text-base py-2">Dane dotyczące zatrudnienia</p>
        </div>
        <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>
        <div class="grid grid-cols-2 gap-2">

          <div class="col-span-1 flex flex-col">
            <div class="flex flex-col">
              <label>Rodzaj umowy</label>
              <mat-form-field>
                <mat-select formControlName="agreement_type" placeholder="Wybierz rodzaj umowy">
                  <mat-option value="permanent">Umowa o pracę</mat-option>
                  <mat-option value="contract">Umowa cywilno-prawna</mat-option>
                </mat-select>
                <mat-error>Pole obowiązkowe</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-span-1 flex flex-col">
            <label>Początek okresu umowy</label>
            <mat-form-field>
              <input matInput [matDatepicker]="contractStartPicker" formControlName="contract_date_start"/>
              <mat-datepicker-toggle matIconSuffix [for]="contractStartPicker"></mat-datepicker-toggle>
              <mat-datepicker #contractStartPicker>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-span-1 flex flex-col">
            <label>Koniec okresu umowy</label>
            <mat-form-field>
              <input matInput [matDatepicker]="contractEndPicker" formControlName="contract_date_end"/>
              <mat-datepicker-toggle matIconSuffix [for]="contractEndPicker"></mat-datepicker-toggle>
              <mat-datepicker #contractEndPicker>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-span-1 flex flex-col">
            <label>Stawka etatowa</label>
            <mat-form-field>
              <input matInput formControlName="job_rate">
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>

          <div class="col-span-1 flex flex-col">
            <label>Etat</label>
            <mat-form-field>
              <input matInput formControlName="job">
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>

          <div class="col-span-1 flex flex-col">
            <label>Stawka godzinowa</label>
            <mat-form-field>
              <input matInput formControlName="hour_rate">
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>

          <div class="col-span-2 flex flex-col">
            <label>Stawka godzinowa</label>
            <div class="w-full bg-warm-gray-50 border border-warm-gray-400 rounded-lg p-4">
              @for(location of locations(); track location.id){
                <div class="flex flex-row items-center">
                  <mat-checkbox
                  [value]="location.id"
                  (change)="onLocationChange(location.id, $event)">
                    {{ location.name }}
                  </mat-checkbox>

                </div>

              }
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="flex flex-flex gap-2">
      <app-icon [iconName]="'briefcase'" iconSize="outline"></app-icon>
      <p class="font-bold text-base py-2">Przebieg dotychczasowego zatrudnienia</p>
      <button mat-icon-button (click)="addEmployer()">
        <app-icon iconName="plus" iconSize="outline" class="text-warm-gray-400"></app-icon>
      </button>

    </div>
    <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>

    <div formArrayName="previous_employers" class="grid grid-cols-3 gap-6 mb-6">
      @for (employer of previousEmployers.controls; track $index) {
        <div [formGroupName]="$index" class="border-warm-gray-400 col-span-1">

          <div class="flex flex-flex gap-2">
<!--            <app-icon [iconName]="'briefcase'" iconSize="outline"></app-icon>-->
            <p class="font-bold text-base py-2">Pracodawca </p>
            <button mat-icon-button (click)="removeEmployer($index)">
              <app-icon iconName="trash" iconSize="outline" class="text-warm-gray-400"></app-icon>
            </button>

          </div>

          <div class="grid grid-cols-2 gap-2">
            <div class="flex flex-col">
              <label>Nazwa firmy</label>
              <mat-form-field>
                <input matInput formControlName="employer_name">
                <mat-error>Pole obowiązkowe</mat-error>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Stanowisko</label>
              <mat-form-field>
                <input matInput formControlName="employee_position">
                <mat-error>Pole obowiązkowe</mat-error>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Data rozpoczęcia pracy</label>
              <mat-form-field>
                <input matInput [matDatepicker]="startPicker" formControlName="work_date_start">
                <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="flex flex-col">
              <label>Data zakończenia pracy</label>
              <mat-form-field>
                <input matInput [matDatepicker]="endPicker" formControlName="work_date_end">
                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="grid grid-cols-2 gap-6">
<!--      <div class="col-span-1 flex flex-col">-->
<!--        <div class="flex flex-row items-center gap-2">-->
<!--          <app-icon [iconName]="'document-text'" iconSize="outline"></app-icon>-->
<!--          <p class="font-bold text-base py-2">Dane dotyczące zatrudnienia</p>-->
<!--        </div>-->
<!--        <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>-->
<!--        <div class="grid grid-cols-3 gap-2">-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <div class="flex flex-col">-->
<!--              <label>Rodzaj umowy</label>-->
<!--              <mat-form-field>-->
<!--                <mat-select formControlName="agreement_type" placeholder="Wybierz rodzaj umowy">-->
<!--                  <mat-option value="permament">Umowa o pracę</mat-option>-->
<!--                  <mat-option value="contract">Umowa cywilno-prawna</mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error>Pole obowiązkowe</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <label>Początek okresu umowy</label>-->
<!--            <mat-form-field>-->
<!--              <input matInput [matDatepicker]="contractStartPicker" formControlName="contract_date_start"/>-->
<!--              <mat-datepicker-toggle matIconSuffix [for]="contractStartPicker"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #contractStartPicker>-->
<!--              </mat-datepicker>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <label>Koniec okresu umowy</label>-->
<!--            <mat-form-field>-->
<!--              <input matInput [matDatepicker]="contractEndPicker" formControlName="contract_date_end"/>-->
<!--              <mat-datepicker-toggle matIconSuffix [for]="contractEndPicker"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #contractEndPicker>-->
<!--              </mat-datepicker>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <label>Stawka etatowa</label>-->
<!--            <mat-form-field>-->
<!--              <input matInput formControlName="job_rate">-->
<!--              <mat-error>Pole obowiązkowe</mat-error>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <label>Etat</label>-->
<!--            <mat-form-field>-->
<!--              <input matInput formControlName="job">-->
<!--              <mat-error>Pole obowiązkowe</mat-error>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="col-span-1 flex flex-col">-->
<!--            <label>Stawka godzinowa</label>-->
<!--            <mat-form-field>-->
<!--              <input matInput formControlName="hour_rate">-->
<!--              <mat-error>Pole obowiązkowe</mat-error>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

      <div class="col-span-1 flex flex-col">
        <div class="flex flex-row gap-2">
          <app-icon [iconName]="'academic-cap'" iconSize="outline"></app-icon>
          <p class="font-bold text-base py-2">Informacje dodatkowe</p>
        </div>
        <mat-divider class="bg-warm-gray-400 !mb-2"></mat-divider>

        <div class="flex flex-col">

          <div class="flex flex-col">
            <label>Niepełnosprawności</label>
            <mat-form-field>
              <input matInput>
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <label>KP-188</label>
            <mat-form-field>
              <input matInput>
              <mat-error>Pole obowiązkowe</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>



    <div class="py-6 w-full flex flex-row justify-center items-center gap-6">
      <button matButton="filled" class="px-2 !rounded-md !bg-warm-gray-400"><span class="font-geist text-base text-white" (click)="onAddEmployee()">Wyślij</span></button>
      <button matButton="outlined" class="px-2 !rounded-md !border-warm-gray-400"><span class="font-geist text-base text-warm-gray-400">Anuluj</span></button>
    </div>


  </form>
</div>




