<!--<div class="bg-white">-->

<!--&lt;!&ndash;  Kontener do wyboru i uzupelniania poszczegolnch pol grafiku&ndash;&gt;-->
<!--  <div>-->

<!--  </div>-->

<!--&lt;!&ndash;  Kontener, ktory zawiera główny grafik&ndash;&gt;-->
<!--  <div class="flex flex-col">-->
<!--&lt;!&ndash;    Pracownicy&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container [ngTemplateOutlet]="Employees"></ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    Grafik&ndash;&gt;-->
<!--    <ng-container [ngTemplateOutlet]="Schedule"></ng-container>-->

<!--  </div>-->

<!--</div>-->


<!--&lt;!&ndash;<ng-template #Employees>&ndash;&gt;-->
<!--&lt;!&ndash;  Jacek Brzozowski&ndash;&gt;-->
<!--&lt;!&ndash;  <div>dddsadsadsad</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div>dddsadsadsad</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div>dddsadsadsad</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div>dddsadsadsad</div>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->


<!--<ng-template #Schedule>-->

<!--  <div>-->
<!--    <button mat-raised-button (click)="tables.push(tables.length)">Add table</button>-->
<!--    <button mat-raised-button (click)="tables.pop()">Remove table</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    Sticky Headers:-->
<!--    <mat-button-toggle-group multiple [value]="['header-1']"-->
<!--                             #stickyHeaders="matButtonToggleGroup"-->
<!--                             class="example-sticky-toggle-group">-->
<!--      <mat-button-toggle value="header-1"> Row 1 </mat-button-toggle>-->
<!--      <mat-button-toggle value="header-2"> Row 2 </mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
<!--  </div>-->

<!--  <div>-->
<!--    Sticky Footers:-->
<!--    <mat-button-toggle-group multiple [value]="['footer-1']"-->
<!--                             #stickyFooters="matButtonToggleGroup"-->
<!--                             class="example-sticky-toggle-group">-->
<!--      <mat-button-toggle value="footer-1"> Row 1 </mat-button-toggle>-->
<!--      <mat-button-toggle value="footer-2"> Row 2 </mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
<!--  </div>-->

<!--  <div>-->
<!--    Sticky Columns:-->
<!--    <mat-button-toggle-group multiple [value]="['employees', 'hoursSum']"-->
<!--                             #stickyColumns="matButtonToggleGroup"-->
<!--                             class="example-sticky-toggle-group">-->
<!--      <mat-button-toggle value="employees"> Employees </mat-button-toggle>-->
<!--      <mat-button-toggle value="hoursSum"> Symbol </mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
<!--  </div>-->

<!--  <section class="example-container mat-elevation-z8" tabindex="0">-->
<!--    @for (table of tables; track table) {-->
<!--      <mat-table [dataSource]="dataSource">-->
<!--        <ng-container matColumnDef="employees" [sticky]="isSticky(stickyColumns, 'employees')">-->
<!--          <mat-header-cell *matHeaderCellDef> Employees </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.employees}} </mat-cell>-->
<!--          <mat-footer-cell *matFooterCellDef> Employees Footer </mat-footer-cell>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="hoursSum" [stickyEnd]="isSticky(stickyColumns, 'hoursSum')">-->
<!--          <mat-header-cell *matHeaderCellDef> Suma godzin </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.hoursSum}} </mat-cell>-->
<!--          <mat-footer-cell *matFooterCellDef> hoursSum Footer </mat-footer-cell>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="filler">-->
<!--          <mat-header-cell *matHeaderCellDef> Filler header cell </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> Filler data cell </mat-cell>-->
<!--          <mat-footer-cell *matFooterCellDef> Filler footer cell </mat-footer-cell>-->
<!--        </ng-container>-->

<!--        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky(stickyHeaders, 'header-1')"></mat-header-row>-->
<!--        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: isSticky(stickyHeaders, 'header-2')"></mat-header-row>-->

<!--        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->

<!--        <mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky(stickyFooters, 'footer-1')"></mat-footer-row>-->
<!--        <mat-footer-row *matFooterRowDef="displayedColumns; sticky: isSticky(stickyFooters, 'footer-2')"></mat-footer-row>-->
<!--      </mat-table>-->
<!--    }-->
<!--  </section>-->

<!--</ng-template>-->


<div class="bg-white">

  <!-- Kontener do wyboru miesiąca -->
  <div class="mb-6 flex items-center justify-between bg-gray-50 p-4 rounded-lg">
    <button mat-raised-button (click)="changeMonth(-1)" class="mr-4">
      ← Poprzedni miesiąc
    </button>

    <h2 class="text-xl font-semibold text-gray-800">
      {{ getMonthName() }}
    </h2>

    <button mat-raised-button (click)="changeMonth(1)" class="ml-4">
      Następny miesiąc →
    </button>
  </div>

  <!-- Główny kontener grafiku -->
  <div class="flex flex-col">
    <ng-container [ngTemplateOutlet]="Schedule"></ng-container>
  </div>

</div>

<ng-template #Schedule>

<!--  <div class="mb-4">-->
<!--    <button mat-raised-button (click)="tables.push(tables.length)">Dodaj tabelę</button>-->
<!--    <button mat-raised-button (click)="tables.pop()">Usuń tabelę</button>-->
<!--  </div>-->

  <div class="mb-4">
    Sticky Headers:
    <mat-button-toggle-group multiple [value]="['header-1']"
                             #stickyHeaders="matButtonToggleGroup"
                             class="example-sticky-toggle-group">
      <mat-button-toggle value="header-1"> Wiersz 1 </mat-button-toggle>
      <mat-button-toggle value="header-2"> Wiersz 2 </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mb-4">
    Sticky Footers:
    <mat-button-toggle-group multiple [value]="['footer-1']"
                             #stickyFooters="matButtonToggleGroup"
                             class="example-sticky-toggle-group">
      <mat-button-toggle value="footer-1"> Wiersz 1 </mat-button-toggle>
      <mat-button-toggle value="footer-2"> Wiersz 2 </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="mb-4">
    Sticky Columns:
    <mat-button-toggle-group multiple [value]="['employees', 'hoursSum']"
                             #stickyColumns="matButtonToggleGroup"
                             class="example-sticky-toggle-group">
      <mat-button-toggle value="employees"> Pracownicy </mat-button-toggle>
      <mat-button-toggle value="hoursSum"> Suma godzin </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <section class="example-container mat-elevation-z8" tabindex="0">
    @for (table of tables; track table) {
      <mat-table [dataSource]="dataSource">

        <!-- Kolumna z pracownikami -->
        <ng-container matColumnDef="employees" [sticky]="isSticky(stickyColumns, 'employees')">
          <mat-header-cell *matHeaderCellDef> Pracownicy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          <mat-footer-cell *matFooterCellDef> Pracownicy </mat-footer-cell>
        </ng-container>

        <!-- Dynamiczne kolumny dla dni miesiąca -->
        @for (day of monthDays(); track day.dayNumber) {
          <ng-container [matColumnDef]="'day-' + day.dayNumber">
            <mat-header-cell *matHeaderCellDef
                             [class.weekend-header]="day.isWeekend"
                             [class.today-header]="day.isToday">
              <div class="day-header">
                <div class="day-number">{{ day.dayNumber }}</div>
                <div class="day-name">{{ day.date | date:'EEE':'pl' }}</div>
              </div>
            </mat-header-cell>

            <mat-cell *matCellDef="let element"
                      [class.weekend-cell]="day.isWeekend"
                      [class.today-cell]="day.isToday">
              <div class="work-hours-cell">
                {{ getWorkHoursForDay(element, day.dayNumber) }}
              </div>
            </mat-cell>

            <mat-footer-cell *matFooterCellDef
                             [class.weekend-footer]="day.isWeekend">
              <!-- Tutaj możesz dodać podsumowanie dla dnia -->
            </mat-footer-cell>
          </ng-container>
        }

        <!-- Kolumna z sumą godzin -->
        <ng-container matColumnDef="hoursSum" [stickyEnd]="isSticky(stickyColumns, 'hoursSum')">
          <mat-header-cell *matHeaderCellDef> Suma godzin </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getTotalHoursForEmployee(element) }}h </mat-cell>
          <mat-footer-cell *matFooterCellDef> Razem </mat-footer-cell>
        </ng-container>

        <!-- Wiersze nagłówka -->
        <mat-header-row *matHeaderRowDef="displayedColumns(); sticky: isSticky(stickyHeaders, 'header-1')"></mat-header-row>
<!--        <mat-header-row *matHeaderRowDef="displayedColumns(); sticky: isSticky(stickyHeaders, 'header-2')" class="secondary-header"></mat-header-row>-->

        <!-- Wiersze danych -->
        <mat-row *matRowDef="let row; columns: displayedColumns();"></mat-row>

        <!-- Wiersze stopki -->
<!--        <mat-footer-row *matFooterRowDef="displayedColumns(); sticky: isSticky(stickyFooters, 'footer-1')"></mat-footer-row>-->
<!--        <mat-footer-row *matFooterRowDef="displayedColumns(); sticky: isSticky(stickyFooters, 'footer-2')"></mat-footer-row>-->
      </mat-table>
    }
  </section>

</ng-template>
